@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background: #FFF5E1;
    width: 100%;
    overflow-x: hidden;
}

.cursor {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAwklEQVR4nN3ToU5CYRgG4GdKMDDIBmchcwlSiJjtNrN6D1QKGxt34D14CcrgFiSxUT0Q+BzbCQbCOXi+4ru99X3C/3/81zxjik4WsEfgE9cZQPzqF/qZQGCLu0wgUOAhEwgc8JIJRNkJLjKBwBuuMoHAO7qZQGCFm0wgsK57K3WBqHsrcWa/cZ8JBD4ygKJ87OPXHf4VWGKOV4zQw2WV0SrADK26Y1WAHR6bGD4FbDDQcHbl+AK3TY8f84Qx2hnjjeYHQdOp1CTCH/MAAAAASUVORK5CYII=), auto;
}

.query {
    position: fixed;
    bottom: 8%;
    right: 8%;
    border: solid 1px black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.chatbot-query {
    position: fixed;
    bottom: 8%;
    right: 8%;
}

.chatbot h1 {
    color: #2E282A;
    font-family: Inter;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.chatbot p {
    color: #2E282A;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chatbot-button {
    display: inline-flex;
    padding: 12px 18px;
    align-items: center;
    border-radius: 36px;
    border: 1px solid #2E282A;
    color: #E2725B;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar {
    border-radius: 16px;
    border: 2px solid #E2725B;
    background: #F3E0C5;
}

.chatbot {
    border: 1px solid #000;
    background: #F3E0C5;
    padding: 15px;
    width: 450px;
    height: 410px;
}

.page {
    color: #2E282A;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.orange {
    color: #e76349;
}

.red {
    color: #E2725B;
}

.chatbot-logo {
    color: #000;
    font-family: Helvetica;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.logo {
    color: #000;
    font-family: Helvetica;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.nav-button {
    color: #2E282A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 36px;
    border: 1px solid #2E282A;
    padding: 12px 18px;
    align-items: center;
    gap: 21px;
}

.main h1 {
    color: #2E282A;
    font-family: Helvetica;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.predict h1 {
    color: #2E282A;
    font-family: Helvetica;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button {
    width: 289px;
    height: 79px;
    padding: 12px 21px;
    border-radius: 36px;
    border: 1px solid #E2725B;
    background: #E2725B;
    color: #FFF5E1;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.features {
    color: #2E282A;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.feature-1 {
    width: 933px;
    padding: 25px;
    border-radius: 16px;
    background: #F3E0C5;
}

.feature-2 {
    width: 1000px;
    background-color: #E2725B;
    padding: 25px;
    border-radius: 16px;
}

.feature-1 h1 {
    color: #000;
    font-family: Helvetica;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feature-2 h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feature-3 h1 {
    color: #000;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feature-1 p {
    color: #000;
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature-2 p {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.feature-3 p {
    color: #000;
    width: 1000px;
    text-align: justify;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.feature-1-h1 {
    color: #E2725B;
    text-align: center;
    font-family: Helvetica;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feature-1-p {
    color: #000;
    font-family: Helvetica;
    font-size: 30px;
    font-style: normal;
    font-weight: 150;
    line-height: normal;
}

.feature-2-button {
    width: 300px;
    color: #FFF;
    display: inline-flex;
    padding: 18px 15px;
    align-items: center;
    gap: 21px;
    border-radius: 36px;
    border: 3px solid #FFF;
}

.predict .button {
    width: 225px;
    height: 65px;
    padding: 5px 10px;
    border-radius: 36px;
    border: 1px solid #E2725B;
    background: #E2725B;
    color: #FFF5E1;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.desc {
    color: #2E282A;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form label {
    color: #2E282A;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input {
    width: 750px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #E2725B;
    background: #F3E0C5;
}

.result {
    width: 59px;
    height: 47px;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.history {
    color: #2E282A;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lifestyle {
    color: #2E282A;
    font-family: Helvetica;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.recommendation div {
    border-radius: 16px;
    width: 95%;
    min-height: 500px;
    padding: 5px;
    flex-shrink: 0;
    border: 1px solid #E2725B;
    background: #F3E0C5;
}

.recommendation button {
    width: 200px;
    height: 56px;
    padding: 15px 25px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 1px solid #E2725B;
    background: #E2725B;
    color: #FFF5E1;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 1284px) {
    .feature-1 {
        width: auto;
        padding: 15px;
        border-radius: 16px;
    }

    .feature-2 {
        width: auto;
        padding: 15px;
        border-radius: 16px;
    }

    .feature-1 h1 {
        font-size: 30px;
        font-weight: 400;
    }

    .feature-1 p {
        font-size: 30px;
        font-weight: 300;
    }

    .feature-3 p {
        width: auto;
    }

    .feature-1-h1 {
        font-size: 60px;
        font-weight: 500;
    }

    .feature-1-p {
        font-size: 25px;
        font-weight: 100;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 30px;
        font-weight: 300;
        line-height: 12px;
    }

    .feature-2 {
        width: auto;
        padding: 15px;
        border-radius: 16px;
    }

    .nav-button {
        font-size: 13px;
        font-weight: 300;
        padding: 8px 5px;
        gap: 15px;
    }

    .main h1 {
        font-size: 70px;
    }

    .predict h1 {
        font-size: 40px;
    }

    .features {
        font-size: 50px;
        font-weight: 400;
    }

    .desc {
        font-size: 15px;
    }

    form label {
        font-size: 18px;
        font-weight: 400;
    }

    .input {
        width: 350px;
        height: 50px;
    }

    .button {
        width: 250px;
        height: 65px;
        padding: 10px 18px;
        font-size: 20px;
        font-weight: 400;
    }

    .predict .button {
        width: 200px;
        height: 50px;
        font-size: 15px;
        font-weight: 400;
    }

    .recommendation div {
        min-height: 450px;
    }

    .feature-1 p {
        font-size: 25px;
        font-weight: 250;
    }
}

@media screen and (max-width: 640px) {
    .main h1 {
        font-size: 55px;
    }

    .input {
        width: 280px;
        height: 50px;
    }

    .recommendation div {
        min-height: 250px;
    }

    .feature-2 {
        width: auto;
        padding: 15px;
        border-radius: 16px;
    }
}

@media screen and (max-width: 500px) {
    .input {
        width: 220px;
        height: 50px;
    }
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}
